@import "../../../styles/Mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.editUsersContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
    width: 380px;
    background-color: #252D4A;
    border-radius: 24px;
    margin-bottom: 20px;
    font-family: 'Barlow Condensed', sans-serif;
   
    @include medium {
       width: 540px;
    }
   
    .topRow {
        margin-bottom: 12px; 

    .labelContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 6px;
    
        .title {
            color: white;
            font-size: 24px;
            width: 102px;

            @include medium {
                width: 154px;
            }
            
        }
    
        input {
            font-size: 20px;
            margin-left: 10px;
            width:212px;
            word-wrap: break-word;
    
            @include medium {
                width: 508px;
            }
        }
    }
   }

        .buttonWrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 200px;
            margin-top: 12px;

            .buttonContainer {
                width: 92px;
                height: 38px;
                background-color: #38B6FF;
                color: white;
                font-size: 22px;
                border-radius: 6px;
                border: none;
                cursor: pointer;
                text-decoration: none;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

            }
        }
   }
   
